html, body {height: 100%;}

body {
	color:rgb(62, 67, 73);
	font-family:'Garamond', 'Georgia', serif;
	line-height: 1.6em;
	font-size: 1em;
}

header, section, footer, aside, nav, article, figure {
	display: block; 
}

dt {
	font-weight:bold;
	display:block;
}

dd {
	margin:0 0 15px 0;
	font-size:0.7em;
}

footer {
	padding-top:0.2em;
	font-size:0.7em;
	height:50px;
	background-color:rgb(247, 247, 247);
}

code {
	background-color:#ff9;
}

article {
	margin-bottom:15px;
}

article a {
	color:rgb(0, 75, 107);
	border-bottom:1px dotted rgb(0, 75, 107);
}

footer a {
	text-align:center;
	color:inherit !important;
	text-decoration:none;
	border:none;
}

footer img {
	display:block;
	float:left;
	margin-right:0.5em;
	height:50px;
}

section {
	margin-bottom:0.8em;
}

a {
	text-decoration:none;
}

a.pure-button {
	color:white !important;
}

abbr.nsfw {
	color: #ac3939;
	font-size: x-small;
	text-decoration: none;
	padding: 0 2px;
	border: 1px solid #d27979!important;
	border-radius: 3px;
	margin-bottom:5px
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
	color:white;
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

#menu div.borderless {
	border:none;
}

#content {
	min-height: 100%;
	height:auto !important;
	margin:0 auto -50px 0.8em;
}

#header {
	min-height:50px;
	margin:0;
	padding:1em 2em;
	text-align:center;
	background:#fff;
}

#body {
	overflow:auto;
	padding-bottom:50px;
	max-width:800px;
}

#footer {
	font-size:87.5%;
	background:rgb(250, 250, 250);
	line-height:1.6em;
	height:50px;
	position:relative;
	margin-top:-50px;
	clear:both;
}

#create-post {
	margin-top:2em;
}

.centered {
	width:400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}