{% extends 'base.html' %}

{% block content %}
	<h2>Conversations</h2>
	<dl>
		{% for thread in threads %}
			<dt>
			{% if thread.user %}
			<i class="icon-certificate"></i>
			{% else %}
			<i class="icon-bullhorn"></i>
			{% endif %}
			{% if threads[thread] %}
				<a href="{{ url_for('new_thread') }}/{{ thread.display_hash|safe }}/{{ thread.url_title()|safe }}#p{{ threads[thread] }}">{{ thread.title|safe }}</a>
			{% else %}
				<a href="{{ url_for('new_thread') }}/{{ thread.display_hash|safe }}/{{ thread.url_title()|safe }}">{{ thread.title|safe }}</a>
			{% endif %}
			</dt>
			<dd>
				{{ thread.posts|count() }} Posts | 
				{% if thread.user %}
				{{ thread.user.username }}
				{% else %}
				{{ thread.display_name|safe }}
				{% endif %}
			</dd>
		{% endfor %}
	</dl>
	<ul class="centered pure-paginator">
	    {% if pagination.has_prev %}<li><a class="prev" href="{{ url_for('index', page=pagination.prev_num) }}">&#171;</a></li>{% endif %}
		<li>&nbsp</li>
		<li><small>{{ pagination.page }} of {{ pagination.pages }}</small></li>
		<li>&nbsp</li>
		<!--
	    <li><a class="pure-button" href="#">1</a></li>
	    <li><a class="pure-button pure-button-active" href="#">2</a></li>
	    <li><a class="pure-button" href="#">3</a></li>
	    <li><a class="pure-button" href="#">4</a></li>
	    <li><a class="pure-button" href="#">5</a></li>
		-->
	    {% if pagination.has_next %}<li><a class="next" href="{{ url_for('index', page=pagination.next_num) }}">&#187;</a></li>{% endif %}
	</ul>
	<!--
	<div style="width:100%; text-align:center; clear:both;">
	{% if pagination.has_prev %}<a href="{{ url_for('index', page=pagination.prev_num) }}"><< Newer posts</a>{% else %}<< Newer posts{% endif %} 
	&nbsp;|&nbsp;At {{ pagination.page }} of {{ pagination.pages }}&nbsp;|&nbsp;
	{% if pagination.has_next %}<a >Older posts >></a>{% else %}Older posts >>{% endif %}
	</div>
	-->
{% endblock %}