{% extends 'base.html' %}

{% block sidebar %}
{% endblock %}

{% block content %}

{% for thread in threads %}
	<div class="thread">
		<div class="title">
			<a href="{{ url_for('new_thread') }}/{{ thread.display_hash|safe }}/{{ thread.url_title()|safe }}#count={{ thread.posts|count() }}">{{ thread.title }}</a>
		</div>
		<div class="clearfix"></div>
		<div class="details">
			<div class="detail">{{ thread.posts|count() }} Posts</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
{% endfor %}

{% endblock %}
