{% extends 'base.html' %}

{% block content %}
	<dl>
		{% for thread in pagination.items %}
			<dt>
				{% if thread.role %}
					<i class="fa fa-lock"></i>
				{% endif %}
			
				{% if threads[thread] %}
					<a href="{{ url_for('thread', display_hash=thread.display_hash, title=thread.slug(), _anchor='p' + threads[thread].display_hash) }}">{{ thread.title|safe }}</a>
				{% else %}
					<a href="{{ url_for('thread', display_hash=thread.display_hash, title=thread.slug()) }}">{{ thread.title|safe }}</a>
				{% endif %}
			</dt>
			<dd>
				{% if thread.nsfw %}
					<abbr class="nsfw">NSFW</abbr>&nbsp;
				{% endif %}
				<strong>{{ thread.posts|count }}</strong> Posts&nbsp;
				
				Created by 
				<strong>
				{% if thread.user %}
					<a href="{{ url_for('user', display_hash=thread.user.display_hash, action=None) }}">{{ thread.user.username|safe }}</a>
				{% else %}
					{{ thread.display_name|safe }}
				{% endif %}
				</strong>
				at <strong><time pubdate="pubdate">{{ thread.date_created|safe }}</time></strong>
				
				{% if thread.role %}
					in role <strong><a href="{{ url_for('thread_by_role', display_hash=thread.role.display_hash, page=1) }}">{{ thread.role.title|safe }}</a></strong>
				{% endif %}
				&nbsp;
				Last post by
				<strong>
					
				{% if thread.posts|count > 0 %}
					{% if thread.user %}
						<a href="{{ url_for('user', display_hash=threads[thread].user.display_hash, action=None) }}">{{ threads[thread].user.username|safe }}</a>
					{% else %}
						{{ threads[thread].display_name }}
					{% endif %}
				{% endif %}
				</strong>
			</dd>
		{% endfor %}
	</dl>
	<ul class="centered pure-paginator">
	    {% if pagination.has_prev %}<li><a class="prev" href="{{ url_for('index', page=pagination.prev_num) }}">&#171;</a></li>{% endif %}
		<li>&nbsp</li>
		<li><small>{{ pagination.page }} of {{ pagination.pages }}</small></li>
		<li>&nbsp</li>
	    {% if pagination.has_next %}<li><a class="next" href="{{ url_for('index', page=pagination.next_num) }}">&#187;</a></li>{% endif %}
	</ul>
{% endblock %}