{% extends 'base.html' %}

{% block content %}
	<div class="centered">
		<form class="pure-form pure-form-stacked" method="POST" action="{{ url_for('login') }}">
			<fieldset>
				{{ form.identifier.label }}
				{{ form.identifier }}
					
				{{ form.password.label }}
				{{ form.password }}
				
				<label class="pure-checkbox">
					Remember me&nbsp;{{ form.remember_me }}
				</label>
			
				<button type="submit" class="pure-button pure-button-primary">Sign in</button>
		    </fieldset>
		</form>
	</div>
{% endblock %}