{% extends 'base.html' %}

{% block content %}
<article>
	<header><h2>{{ message.subject|safe }}</h2></header>
	{{ message.body|oembed(urlize_all=False, maxwidth=800)|markdown|safe }}
	<footer>
		<a href="{{ url_for('user', display_hash=message.sender.display_hash) }}"><img src="{{ message.sender.email|gravatar }}" /></a>&nbsp;
		to {% for recipient in message.recipients: %} {{ recipient.username }}, {% endfor %}
		&nbsp;on&nbsp;<time pubdate="pubdate">{{ message.date_created|safe }}</time>
	</footer>
</article>

{% for comment in message.comments %}
	<article id="p{{ comment.display_hash }}">
		{{ comment.body|oembed(urlize_all=False, maxwidth=800)|markdown|safe }}
		<footer>
			<a href="{{ url_for('user', display_hash=comment.sender.display_hash) }}"><img src="{{ comment.sender.email|gravatar }}" /></a>
			&nbsp;on&nbsp;<time pubdate="pubdate">{{ comment.date_created|safe }}</time>&nbsp;
			<a href="{{ url_for('message', display_hash=message.display_hash) }}#p{{ comment.display_hash|safe }}">
				<i class="icon-anchor"></i>
			</a>
		</footer>
	</article>
{% endfor %}

<form class="pure-form pure-form-stacked" method="POST" action="{{ url_for('message', display_hash=message.display_hash) }}">
	{% if form.errors %}
	    <ul>
	        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
	            {% for error in field_errors %}
	                <li>{{ form[field_name].label }}: {{ error }}</li>
	            {% endfor %}
	        {% endfor %}
	    </ul>
	{% endif %}
	<fieldset>
		<input type="hidden" name="display_hash" value="{{ message.display_hash }}" />
		{{ form.body(cols='80', rows='10') }}
		<button type="submit" class="pure-button pure-button-success"><i class="icon-envelope"></i>&nbsp;Send Message</button>
		<a href="{{ url_for('messages') }}" class="pure-button pure-button-error">Cancel</a>
	</fieldset>
</form>

{% endblock %}