{% extends 'base.html' %}

{% block content %}
<div class="pure-g-r">
	<div class="pure-u-1-2">
		<table class="pure-table pure-table-bordered">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Date Received</th>
					<th>Recipients</th>
					<th>Subject</th>
				</tr>
			</thead>
			<tbody>
				{% for message in received_messages %}
					<tr>
						<td>&nbsp;</td>
						<td><small>{{ message.date_created|safe }}</small></td>
						<td>
							{% for user in message.recipients %}
							<a href="{{ url_for('user', display_hash=user.display_hash) }}">{{ user.username|safe }}</a><br />
							{% endfor %}
						</td>
						<td><a href="{{ url_for('message', display_hash=message.display_hash) }}">{{ message.subject|safe }}</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="pure-u-1-2">
		<table class="pure-table pure-table-bordered">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Date Sent</th>
					<th>Recipients</th>
					<th>Subject</th>
				</tr>
			</thead>
			<tbody>
				{% for message in sent_messages %}
					<tr>
						<td>&nbsp;</td>
						<td><small>{{ message.date_created|safe }}</small></td>
						<td>
							{% for user in message.recipients %}
								<a href="{{ url_for('user', display_hash=user.display_hash) }}">{{ user.username|safe }}</a><br />
							{% endfor %}
						</td>
						<td><a href="{{ url_for('message', display_hash=message.display_hash) }}">{{ message.subject|safe }}</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<p><a href="{{ url_for('send_message') }}"><button class="pure-button pure-button-primary"><i class="fa fa-plus"></i>&nbsp;Send Message</button></a></p>
{% endblock %}