{% extends 'base.html' %}

{% block content %}
<form class="pure-form pure-form-stacked" method="POST" action="{{ url_for('new_thread') }}">
	{% if form.errors %}
	    <ul>
	        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
	            {% for error in field_errors %}
	                <li>{{ form[field_name].label }}: {{ error }}</li>
	            {% endfor %}
	        {% endfor %}
	    </ul>
	{% endif %}
	<fieldset>
		<select name="category_id" id="category_id">
		{% for category in categories %}
			<option value="{{ category.id }}">{{ category.title }}</option>
		{% endfor %}
		</select>
		{{ form.title }}
		{{ form.body(cols='80', rows='10') }}
		{{ form.display_name }}
		<button type="submit" class="pure-button pure-button-success">Add Comment</button>
		<a href="{{ url_for('index') }}" class="pure-button pure-button-error">Cancel</a>
	</fieldset>
</form>
{% endblock %}