{% extends 'base.html' %}

{% block content %}

{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
<form name="new_post" method="POST" action="/thread">
	<p>
		<select name="category_id" id="category_id">
		{% for category in categories %}
			<option value="{{ category.category_id }}">{{ category.title }}</option>
		{% endfor %}
		</select>
	</p>
	<p>
		{{ form.title.label }}:<br /> 
		{{ form.title|safe }}
	</p>
	<p>
		{{ form.body.label }}<br />
		{{ form.body|safe }}
	</p>
	<input type="submit" name="save" id="save" title="Save" />
</form>

{% endblock %}
