{% extends 'base.html' %}

{% block content %}
<form method="POST" action="{{ url_for('send_message') }}">
	{% if form.errors %}
	    <ul>
	        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
	            {% for error in field_errors %}
	                <li>{{ form[field_name].label }}: {{ error }}</li>
	            {% endfor %}
	        {% endfor %}
	    </ul>
	{% endif %}
	<div class="pure-g-r">
		<div class="pure-u-1-2">
			<h3>Message</h3>
			<p>{{ form.subject }}</p>
			<p>{{ form.body(cols='40') }}</p>
			<button type="submit" class="pure-button pure-button-success"><i class="fa fa-envelope-o"></i>&nbsp;Send Message</button>
			<a href="{{ url_for('messages') }}" class="pure-button pure-button-error">Cancel</a>
		</div>
		<div class="pure-u-1-2">
			<h3>Recipients</h3>
			<select name="recipients" multiple size="5">
				{% for user in users %}
				<option value="{{ user.display_hash }}">{{ user.username }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</form>
{% endblock %}