{% extends 'base.html' %}

{% block content %}

<h1>{{ thread.title }}</h1>
{{ thread.body }}

{% for post in thread.posts %}
	{% if not post.spam %}
		<p>{{ post.body }}</p>
	{% endif %}
{% endfor %}

{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
<form method="POST" action="{{ url_for('new_thread') }}/{{ thread.display_hash }}/{{ thread.url_title() }}">
	<input type="hidden" name="display_hash" value="{{ thread.display_hash }}" />
	{{ form.body.label }}:<br />
	{{ form.body|safe }}<br />
	{{ form.display_name.label }}<br />
	{{ form.display_name|safe }}<br />
	<input type="submit" name="submit" id="submit" value="Post" />
</form>

{% endblock %}
