{% extends 'base.html' %}

{% block content %}
	<article>
		<header>
			<h2>{{ thread.title|safe }}</h2>
		</header>
		{{ thread.body|replace('\n', '<br />')|safe }}
		<footer>
			<time pubdate="pubdate">{{ thread.date_created|safe }}</time>&nbsp;|&nbsp;
			<strong>{{ thread.display_name|safe }}</strong>
		</footer>
	</article>
	{% for post in thread.posts %}
		{% if not post.spam %}
	<article id="p{{ post.post_id }}">
		{{ post.body|replace('\n', '<br />')|safe }}
		<footer>
			<time pubdate="pubdate">{{ post.date_created|safe }}</time>&nbsp;|&nbsp;
			{{ post.display_name|safe }}
		</footer>
	</article>
		{% endif %}
	{% endfor %}
	<form class="pure-form pure-form-stacked" method="POST" action="{{ url_for('new_thread') }}/{{ thread.display_hash|safe }}/{{ thread.url_title()|safe }}">
		{% if form.errors %}
		    <ul>
		        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
		            {% for error in field_errors %}
		                <li>{{ form[field_name].label }}: {{ error }}</li>
		            {% endfor %}
		        {% endfor %}
		    </ul>
		{% endif %}
		<fieldset>
			<input type="hidden" name="display_hash" value="{{ thread.display_hash }}" />
			{{ form.body(cols='80', rows='10') }}
			{{ form.display_name }}
			<button type="submit" class="pure-button pure-button-success">Add Comment</button>
			<a href="{{ url_for('index') }}" class="pure-button pure-button-error">Cancel</a>
		</fieldset>
	</form>
{% endblock %}