{% extends 'base.html' %}

{% block content %}
<form class="pure-form pure-form-stacked" method="POST" action="{{ url_for('user') }}">
	{% if form.errors %}
	    <ul>
	        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
	            {% for error in field_errors %}
	                <li>{{ form[field_name].label }}: {{ error }}</li>
	            {% endfor %}
	        {% endfor %}
	    </ul>
	{% endif %}
	<fieldset>
		{{ form.display_hash()|safe }}
		<h2>User Data</h2>
		<div class="pure-control-group">
        	<label>Username: {{ form.username }}</label>
		</div>
		<div class="pure-control-group">
			<label>Password: {{ form.password }}</label>
		</div>
		<div class="pure-control-group">
			<label>Email: {{ form.email }}</label>
		</div>
		<div class="pure-control-group">
			<label>Icon: {{ form.icon }}</label>
		</div>
		 <div class="pure-controls">
			 <label>Admin: {{ form.is_admin }}</label>
			 <label>Deleted: {{ form.is_deleted }}</label>
		
			 <button type="submit" class="pure-button pure-button-success">Save</button>
		</div>
	</fieldset>
</form>
{% endblock %}